.articles {
  margin-top: 100px;
  &__content {
    display: flex;
    column-gap: 22px;
  }
  &__item {
    border: 1px solid #ebeaf2;
    border-radius: 8px;
    padding-bottom: 40px;
    width: 33%;
  }
  &__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #5c5cff;
    margin-top: 32px;
    margin-left: 24px;
  }
  &__text {
    width: 80%;
    font-size: 19px;
    line-height: 30px;
    color: #413e52;
    margin-top: 58px;
    margin-left: 24px;
  }
}
@media (max-width: 992px) {
  .articles {
    margin-top: 30px;
  }
}
@media (max-width: 776px) {
  .articles__content {
    flex-direction: column;
  }
  .articles__item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .articles__item {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .articles {
    margin-top: 0px;
  }
  .articles__item {
    padding-bottom: 10px;
  }
  .articles__title {
    margin-top: 15px;
  }
  .articles__text {
    margin-top: 15px;
  }
}
