.subcribe {
  background: #111131;
  margin-top: 128px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 254px;
    border-radius: 8px;
  }
  &__left {
    width: 30%;
    margin: 0px 90px 0px 50px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #5c5cff;
  }
  &__title {
    font-size: 31px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 27px;
  }
  &__email {
    width: 100%;
    height: 56px;
    background: #1b1b4d;
    border: 1px solid #8989f8;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #5c5cff;
  }
  &__button {
    width: 100%;
    height: 56px;
    background: #5c5cff;
    border-radius: 4px;
    margin-top: 16px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
}
@media (max-width: 776px) {
  .subcribe__content {
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 0;
  }
  .subcribe__title {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  .subcribe__subtitle {
    text-align: center;
    padding-top: 30px;
  }
  .subcribe__left {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .subcribe__title {
    font-size: 15px;
  }
  .subcribe__right {
    width: 70%;
  }
  .subcribe {
    margin-top: 20px;
  }
}
