.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 776px) {
}
@media (max-width: 480px) {
}
